html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 15px;
  height: 100%;
  margin: 0.5% 0.5% 0% 0%;
}

header, footer {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 15px;
  height: 100%;
}

/*img {
  display:block;
  text-align: center;
  width: 5%;
  height: 20px;
}*/

.bold_tittles{
  font-weight: bold;
}

li.displays {
  margin-top: 5px;
  display: inline-block;
}

i {
  display: inline-block;
  background-color: white;
  border-radius: 46%;
  padding: 5px;
  background-color: #CCE5FF;
}

i.location {
  display: inline-block;
  background-color: unset;
}

.location1 {
  background-image: url("../images/others/location.png");
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 20px;
  height: 20px;
}

.info1 {
  background-image: url("../images/others/info64.png");
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 20px;
  height: 20px;
}

.accfig1 {
  background-image: url("../images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-position:bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.5%;
  height: 100%;
  float: inline-start;
}

.accfig2 {
  background-image: url("../images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.75%;
  height: 100%;
  float: inline-start;
}

.accfig3 {
  background-image: url("../images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.75%;
  height: 100%;
  float: inline-start;
}

.accfig4 {
  background-image: url("../images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.5%;
  height: 100%;
  float: inline-start;
}

.accfig5 {
  background-image: url("../images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.75%;
  height: 100%;
  float: inline-start;
}

.accfig6 {
  background-image: url("../images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98.75%;
  height: 100%;
  float: inline-start;
}

.figpop1 {
  background-image: url("../images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: fill;
  width: 80%;
  height: 96%;
}

.figpop2 {
  background-image: url("../images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: fill;
  width: 80%;
  height: 96%;
}

.figpop3 {
  background-image: url("../images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: fill;
  width: 80%;
  height: 96%;
}

.actfig1 {
  background-image: url("../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

.actfig2 {
  background-image: url("../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

.actfig3 {
  background-image: url("../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

.actfig4 {
  background-image: url("../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

.actfig5 {
  background-image: url("../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

.actfig6 {
  background-image: url("../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  width: 100%;
  height: 96%;
}

a#sign1 {
  color: blue;
}

a#aco1:hover, a#act1:hover {
  color: blue;
  border-width: thin;
  border-style: solid;
  border-width: 2px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.containersearch {
  display: flex;
  /*justify-content: space-between;
  border: 2px solid black;*/
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.divsearch1 {
  font-weight: bold;
  font-style: normal;
  background-color: silver;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 25px;
  width: 25px;
}

.divsearch2 {
  font-weight: bold;
  font-style: normal;
  height: 25px;
  width: 15%;
}

.divsearch3 {
  font-weight: bold;
  font-style: normal;
  width: 7%;
  height: 25px;
}

.searchinput1 {
  height: 23px;
  padding: 0px;
  margin: 0;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

.searchinput [type=text] {
  height: 23px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

.searchbuttom {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 25px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.locationresponsive {
  height: 100%;
}

.divlocationicon {
  height: 10px;
}

.location {
  float: left;
  background-color: silver;
  text-align: center;
  width: 10px;
  height: 10px;
}

button:hover {
  background: #0b7dda;
}

img.stars {
  float: left;
  text-align: center;
  width: 16px;
  height: 16px;
}

.figuresize {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: 90%;
  margin: 0 0 0 0;
}

.figuresizesmallest {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: 80%;
  margin: 0 0 0 0;
}

img.scaled {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

figcaption {
  background-color: whitesmoke;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 11%;
  font-weight: bold;
}

figcaption.smallest {
  font-weight: bold;
  background-color: whitesmoke;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  height: 25%;
}

figure.figuresizepopular {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 78%;
}

img.scaledpopular {
  margin: 2px 2px 2px 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 310px;
  height: 96%;
  object-fit: fill;
}

figcaption.figpopular {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  text-align: left;
}

figure.figuresizesaccomodations {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  background-color: whitesmoke;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 60%;
}

img.scaledaccomodations {
  margin: 2px 2px -8px 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 98.5%;
  height: 100%;
  object-fit: fill;
}

figcaption.figaccomodations {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: whitesmoke;
  height: 80%;
  width: 100%;
  text-align: left;
  float: inline-end;
}

.responsive {
  margin: 0;
  width: 90px;
  height: 40px;
}

.responsive_stars {
  width: 16px;
  height: 16px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 5%;
  top: 2%;
}

.top-left {
  position: absolute;
  left: 1%;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links>a {
  color: #636b6f;
  padding: 0 0px 0 0;
  text-align: right;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links2>a {
  color: #636b6f;
  padding: 0 0px 0 0;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.container {
  height: 100%;
  display: grid;
  grid-template: repeat(8, 4fr) / repeat(4, 1fr);
  grid-gap: 3%;
  grid-template-rows: 2% 30% 40% 40% 2% 25% 25% 50%;
  grid-template-areas: "header header header header" "search search search search " "Acommodations Acommodations Acommodations popular" "Acommodations Acommodations Acommodations popular" "Activities Activities Activities Activities" "Activities1 Activities2 Activities4 Activities5" "Activities1 Activities3 Activities4 Activities6" "footer footer footer footer";
}

header {
  margin-bottom: 2%;
  grid-area: header;
  background-color: white;
  height: 30px;
}

.containerheader {
  margin-left: 34px;
  display: flex;
  /*justify-content: space-between;
  border: 2px solid black;*/
  flex-wrap: wrap;
  flex-direction: row;
  height: 20px;
}

.divheaderlogo {
  flex-grow: 2;
  width: 50%;
  height: 40px;
}

.divheader {
  flex-grow: 1;
  height: 40px;
}

a {
  margin: 0% 0 0 0;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  height: auto;
  list-style-type: none;
}

/*div {
border-width:thin ;
border-style: solid;
border-radius: 5px;
}*/

div#search_filters {
  margin-left: 0px;
  margin-top: 1%;
  border-radius: 5px;
  grid-area: search;
  background-color: white;
}

div#acommodations {
  margin-left: 16px;
  border-radius: 16px;
  width: 100%;
  grid-area: Acommodations;
  background-color: silver;
}

div.mostpopulardiv {
  width: 400px;
  border-radius: 16px;
  grid-area: popular;
  background-color: silver;
}

.containerpopular {
  margin: 4px 4px 4px 4px;
  padding: 0;
  height: 98%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.searchdiv {
  margin: 4px 4px 4px 4px;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0%;
}

.filterdiv {
  margin: 4px 4px 4px 4px;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterdiv1 {
  height: 100%;
  width: 50px;
}

.filterdisplays {
  height: 25px;
  margin-left: 10px;
  display: inline-block;
  width: 160px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 1px solid slategrey;
  border-right: 1px solid slategrey;
  border-bottom: 1px solid slategrey;
}

.searchdiv1 {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  height: 12%;
  width: 100%;
}

.searchdiv2 {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  height: 18%;
  width: 100%;
}

.divpopular {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  height: 30%;
  width: 100%;
}

.divpopular2 {
  margin: 20px 20px 0 20px;
  flex-grow: 1;
  height: 10%;
  width: 100%;
}

.containeraccomodations {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divaccomodations {
  margin: 0 0 0px 20px;
  flex-grow: 1;
  height: 35%;
  width: 25%;
}

.divaccomodationsend {
  margin: 0% 20px 0 20px;
  flex-grow: 1;
  height: 35%;
  width: 25%;
}

.divaccomodations2 {
  margin: 20px 20px 0 20px;
  flex-grow: 1;
  height: 5%;
  width: 100%;
}

.divaccomodations3 {
  margin: 0px 20px 0 20px;
  flex-grow: 1;
  height: 5%;
  width: 100%;
}

div#activities {
  margin-left: 16px;
  border-radius: 10px;
  grid-area: Activities;
  height: 10px;
}

span#main_name {
  margin-bottom: 20px;
}

span#main_name1 {
  margin-left: 36px;
}

.secondary_name {
  margin-left: 5px;
  margin-top: 20px;
}

.filter_secondary_name {
  margin-left: 5px;
  margin-top: 20px;
}

.divmargin {
  margin-top: 20px;
}

div#activities1 {
  margin-left: 16px;
  grid-area: Activities1;
  background-color: white;
}

div#activities2 {
  grid-area: Activities2;
  background-color: white;
}

div#activities3 {
  margin-top: 10%;
  grid-area: Activities3;
  background-color: white;
}

div#activities4 {
  grid-area: Activities4;
  background-color: white;
}

div#activities5 {
  margin-bottom: 5%;
  grid-area: Activities5;
  background-color: white;
}

div#activities6 {
  margin-top: 2.5%;
  grid-area: Activities6;
  background-color: white;
}

footer {
  margin-top: 1%;
  grid-area: footer;
  background-color: silver;
  width: 100%;
  height: 140px;
}

.containerfooter {
  margin-top: 20px;
  margin-left: 1%;
  display: flex;
  /*justify-content: space-between;
  border: 2px solid black;*/
  flex-direction: row;
  flex-wrap: wrap;
  height: 99px;
}

.divfooter {
  font-weight: bold;
  font-style: normal;
  flex-grow: 1;
  height: 100%;
}

ul {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

ul.containerli {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  height: 100%;
  list-style-type: none;
  justify-content: space-around;
}

ul.containerli1 {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  height: 76%;
  list-style-type: none;
  justify-content: space-between;
}

.mostpopularmargin {
  height: 90%;
  margin-top: 10px;
}

.mostaccommodationsmargin {
  padding-top: 5px;
}

li.mostpopularli {
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

li.accommodations {
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
}

/*.divfooter{
  width: 30%;
  height: 100%;
}
.divfooter1{
  width: 40%;
  height: 100%;
}.divfooter2{
  width: 30%;
  height: 100%;
}*/

@media all and (min-width:768px) and (max-width: 1024px) {
  ul.containerli {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    padding: 0;
    height: 100%;
    list-style-type: none;
    justify-content: space-around;
  }
  img.stars {
    float: left;
    text-align: center;
    width: 10px;
    height: 10px;
  }
  div.mostpopulardiv {
    width: 270px;
    border-radius: 16px;
    grid-area: popular;
    background-color: silver;
  }
  .searchdiv {
    gap: 0%;
  }
  header {
    height: 60px;
  }
  div#acommodations {
    height: 520px;
  }
  div.mostpopulardiv {
    height: 520px;
  }
  div#search_filters {
    height: 200px;
  }
  .container {
    height: 700px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    display: grid;
    grid-template: repeat(8, 4fr) / repeat(4, 1fr);
    grid-template-rows: repeat(8, 4fr);
    grid-template-areas: none;
    grid-gap: 3%;
    grid-template-rows: 2% 30% 40% 40% 2% 15% 15% 50%;
    grid-template-areas: "header header header header" "search search search search " "Acommodations Acommodations Acommodations popular" "Acommodations Acommodations Acommodations popular" "Activities Activities Activities Activities" "Activities1 Activities2 Activities4 Activities5" "Activities1 Activities3 Activities4 Activities6" "footer footer footer footer";
  }
  .figuresize {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    width: 100%;
    height: 98%;
    margin: 0 0 0 0;
  }
  .figuresizesmallest {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }
  .figpop1 {
    background-image: url("../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }
  .figpop2 {
    background-image: url("../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }
  .figpop3 {
    background-image: url("../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }
  .actfig1 {
    background-image: url("../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig2 {
    background-image: url("../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    width: 100%;
    height: 70%;
    margin: 0;
  }
  .actfig3 {
    background-image: url("../images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    width: 100%;
    height: 70%;
    margin: 0;
  }
  .actfig4 {
    background-image: url("../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig5 {
    background-image: url("../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    width: 100%;
    height: 70%;
    margin: 0;
  }
  .actfig6 {
    background-image: url("../images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    width: 100%;
    height: 70%;
    margin: 0;
  }
  .info1 {
    background-image: url("../images/others/info64.png");
    width: 14px;
    height: 14px;
  }
  .accfig1 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    margin: 2px 6px -8px 1px;
    width: 99%;
    height: 100%;
  }
  .accfig2 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    margin: 2px 6px -8px 1px;
    width: 99%;
    height: 100%;
  }
  .accfig3 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    margin: 2px 6px -8px 1px;
    width: 99%;
    height: 100%;
  }
  .accfig4 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    margin: 2px 6px -8px 1px;
    width: 99%;
    height: 100%;
  }
  .accfig5 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    width: 97%;
    height: 100%;
  }
  .accfig6 {
    object-fit: cover;
    background-image: url("../images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    margin: 2px 6px -8px 1px;
    width: 99%;
    height: 100%;
  }
}


@media all and (min-width:320px) and (max-width: 768px) {
  html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    height: 100%;
    margin: 0.5% 0% 0% 0%;
    width: 100%;
  }
  header, footer {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    height: 100%;
    width: 100%;
  }
  .secondary_name {
    font-size: 12px;
  }
  .filter_secondary_name {
    margin-left: 5px;
    margin-top: 0px;
  }
  span#main_name {
    margin-left: 26px;
    margin-bottom: 20px;
    padding: 0;
  }
  .mostpopularmargin {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  li.mostpopularli {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  li.accommodations {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: left;
  }
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 3%;
    grid-template: repeat(12, 1fr) / repeat(2, 1fr);
    grid-template-columns: 60px 200px 534px 60px 480px 480px 480px 200px;
    grid-template-areas: "header header" "search search " "popular popular" "Acommodations Acommodations" "Activities Activities" "Activities1 Activities1" "Activities2 Activities2" "Activities3 Activities3" "Activities4 Activities4" "Activities5 Activities5" "Activities6 Activities6" "footer footer";
  }
  header {
    height: 60px;
    grid-area: h;
    background-color: white;
  }
  .containerheader {
    display: flex;
    /*justify-content: space-between;
    border: 2px solid black;*/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }
  .containerheader div:nth-child(1) {
    order: 1;
  }
  .containerheader div:nth-child(2) {
    order: 3;
  }
  .containerheader div:nth-child(3) {
    order: 4;
  }
  .containerheader div:nth-child(4) {
    order: 2;
    color: blue;
  }
  a#sign1 {
    color: blue;
  }
  a#aco1:hover, a#act1:hover {
    color: blue;
    border-width: thin;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .links>a {
    color: #636b6f;
    padding: 0 0 0 0;
    text-align: right;
    width: 100%;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: capitalize;
  }
  .links2>a {
    color: #636b6f;
    padding: 0 0 0 0;
    text-align: right;
    width: 100%;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: capitalize;
  }
  a#sign1 {
    float: right;
    width: 100px;
    text-align: center;
  }
  a#act1 {
    float: right;
    width: 100px;
    text-align: center;
  }
  a {
    margin: 0 0 0 0;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    font-size: 12px;
    width: 100%;
    padding: 0;
    height: auto;
    list-style-type: none;
  }
  .divheaderlogo {
    flex-grow: 2;
    height: 24px;
    width: 50%;
  }
  .divheader {
    flex-grow: 1;
    height: 20px;
    width: 50%;
  }
  .responsive {
    margin: 0;
    width: 90px;
    height: 20px;
  }
  div#search_filters {
    height: 120%;
    margin-left: 0px;
    border-radius: 5px;
    grid-area: search;
    background-color: white;
  }
  .containersearch {
    display: flex;
    /*justify-content: space-between;
    border: 2px solid black;*/
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .divsearch1 {
    font-weight: bold;
    font-style: normal;
    height: 25px;
    width: 25px;
  }
  .divsearch2 {
    font-weight: bold;
    font-style: normal;
    height: 20px;
    width: 60%;
  }
  .divsearch3 {
    font-weight: bold;
    font-style: normal;
    width: 16%;
    height: 25px;
  }
  .searchdiv {
    margin: 4px 4px 4px 4px;
    padding: 0;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
  }
  .searchdiv1 {
    margin: 0 20px 0 20px;
    height: 6px;
    flex-grow: 2;
    width: 100%;
  }
  .searchdiv2 {
    margin: 0 20px 0 20px;
    height: 80px;
    width: 100%;
    flex-grow: 1;
  }
  .filterdiv {
    margin: 4px 4px 4px 4px;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: unset
  }
  .filterdiv1 {
    height: 20px;
    width: 100%;
  }
  .filterdisplays {
    width: 40%;
    height: 20px;
  }
  div#acommodations {
    height: 2000px;
    width: 100%;
    margin-left: 0%;
    border-radius: 5px;
    margin-right: 0%;
    grid-area: a;
    background-color: white;
  }
  div.mostpopulardiv {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    border-radius: 5px;
    margin-right: 0%;
    grid-area: b;
    background-color: silver;
  }
  div#activities {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 0%;
    grid-area: c;
    background-color: white;
  }
  div#activities1 {
    width: 90%;
    height: 180px;
    margin-left: 24px;
    grid-area: d;
    background-color: white;
    margin-bottom: 20px;
  }
  div#activities2 {
    width: 90%;
    height: 220px;
    margin-top: 0px;
    margin-left: 24px;
    grid-area: e;
    background-color: white;
    margin-bottom: 20px;
  }
  div#activities3 {
    width: 90%;
    height: 220px;
    margin-top: 0px;
    margin-left: 24px;
    grid-area: g;
    background-color: white;
    margin-bottom: 20px;
  }
  div#activities4 {
    width: 90%;
    height: 220px;
    margin-left: 24px;
    grid-area: i;
    background-color: white;
    margin-bottom: 20px;
  }
  div#activities5 {
    width: 90%;
    height: 220px;
    margin-bottom: 0px;
    margin-left: 24px;
    grid-area: j;
    background-color: white;
    margin-bottom: 20px;
  }
  div#activities6 {
    width: 90%;
    height: 220px;
    margin-top: 0px;
    margin-left: 24px;
    grid-area: j;
    background-color: white;
    margin-bottom: 20px;
  }
  footer {
    margin-top: 2%;
    grid-area: f;
    background-color: silver;
    width: 100%;
  }
  .containerfooter {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    gap: 2%;
    /*justify-content: space-between;
    border: 2px solid black;*/
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
  }
  .divfooter {
    font-weight: bold;
    font-style: normal;
    flex-grow: 1;
    height: 0%;
    width: 100%;
  }
  figcaption.smallest {
    background-color: whitesmoke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    height: 12%;
  }
  .containerpopular {
    margin: 4px 4px 30px 4px;
    padding: 0;
    height: 500px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
  }
  .divpopular {
    margin: 0 10px 0 20px;
    flex-grow: 1;
    height: 25%;
    width: 100%;
  }
  .divpopular2 {
    margin: 10px 10px 10px 20px;
    flex-grow: 1;
    height: 5%;
    width: 100%;
  }
  figure.filterfiguresize {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
  }
  figure.figuresizepopular {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
  }
  img.scaledpopular {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
    height: 90%;
    object-fit: fill;
  }
  figcaption.filterfigure {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    height: 100%;
    width: 20px;
    text-align: left;
  }
  figcaption.figpopular {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    text-align: left;
  }
  img.stars {
    float: left;
    text-align: center;
    width: 10px;
    height: 10px;
  }
  .containeraccomodations {
    margin: 4px 4px 30px 4px;
    padding: 0;
    height: 1230px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .divaccomodations {
    margin: 0 10px 0 20px;
    margin-bottom: 0px;
    flex-grow: 1;
    height: 15%;
    width: 100%;
  }
  .divaccomodations2 {
    margin: 0 10px 20px 20px;
    flex-grow: 2;
    height: 12px;
    width: 100%;
  }
  .divaccomodations3 {
    margin: 0 10px 0 20px;
    flex-grow: 2;
    height: 12px;
    width: 100%;
  }
  .divaccomodationsend {
    margin: 0 10px 0 20px;
    flex-grow: 1;
    height: 15%;
    width: 100%;
  }
  figcaption {
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 12%;
  }
  figure.figuresizesaccomodations {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 68%;
  }
  figcaption.figaccomodations {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    text-align: left;
  }
  img.scaledaccomodations {
    margin: 0px 0px 0px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 98.5%;
    height: 100%;
    object-fit: fill;
  }
  .figuresize {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    text-indent: 0;
    width: 100%;
    height: 100%;
    margin: 0 60px 0 0;
  }
  .figuresizesmallest {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    text-indent: 0;
    width: 100%;
    height: 100%;
    margin: 0 60px 0 0;
  }
  .figpop1{
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }
  .figpop2 {
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }
  .figpop3 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }
  .actfig1 {
    background-image: url("../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig2 {
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig3 {
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig4 {
    background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig5 {
    background-image: url("../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .actfig6 {
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    width: 100%;
    height: 165px;
    margin: 0;
  }
  .info1 {
    background-image: url("../images/others/info64.png");
    width: 14px;
    height: 14px;
  }
  .accfig1 {
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
  .accfig2 {
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
  .accfig3 {
    background-image: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
  .accfig4 {
    object-fit: cover;
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
  .accfig5 {
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
  .accfig6 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    width: 99%;
    height: 100%;
    margin: 2px 2px -8px 2px;
  }
}

/*.container div:nth-child(1), div:nth-child(6) {
        background-color: #B8336A;
    }
    
    .container div:nth-child(2), div:nth-child(7) {
        background-color: #726DA8;
    }
    
    .container div:nth-child(3), div:nth-child(8) {
        background-color: #7D8CC4;
    }
    
    .container div:nth-child(4) {
        background-color: #A0D2DB;
    }
    
    .container div:nth-child(5) {
        background-color: #C490D1;
    }*/

/*@font-face {
    font-family: 'MyWebFont';
    src: url('fontawesome/Font Awesome 5 Free-Regular-400.otf'); /* IE9 Compat Modes */

/*src: url('fontawesome/Font Awesome 5 Free-Solid-900.otf'),
         url('fontawesome/FontAwesome5Brands-Regular-400.otf'),
         /*url('webfont.woff') format('woff'), /* Pretty Modern Browsers */

/*url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */

/*url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

/*}*/